@page "/"

<PageTitle>Nuestra Historia</PageTitle>

<div class="home-bg">
    <h1 class="nav-link" style="text-align: center;"><b>Nuestra Historia</b></h1>

    <img src="Imagenes/libreria.jpg" alt="Nuestro Local" style="display: block; margin:auto; width:50%; height:50%"/>

    <p class="nav-link centered-paragraph">
        Nuestra librería nació hace más de veinte años con el amor por los libros en papel, las estanterías llenas de historias y el aroma inconfundible de las páginas nuevas y usadas.
        A lo largo del tiempo, fuimos testigos de cómo la forma de leer cambiaba: llegaron los lectores electrónicos, las bibliotecas digitales y nuevas formas de conectarse con la literatura. Al principio nos resistimos, pero entendimos que lo importante no es el formato, sino la historia que se cuenta.
        Por eso, hemos decidido dar un paso adelante e integrar un sistema de compra para Kindle en nuestra librería. Ahora, además de hojear libros entre nuestras estanterías, también podrás adquirir versiones digitales y enviarlas directamente a tu dispositivo. Queremos seguir siendo parte de tu camino lector, estés donde estés, combinando lo mejor del papel y la tecnología.
    </p>
</div>
