
@font-face {
    font-family: 'FontTitulos';
    src: url('fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf');
}



html, body {
    font-family: FontTitulos;
    background-color: #E8DCCB;
}

a, .btn-link {
    color: #5C4432;
    
}

.btn-primary {
    color: white;
    background-color: #CAD8C4;
    border-color: #CAD8C4;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content, main {
    background-color: #E8DCCB !important;
    background-image: none !important;
    box-shadow: none !important;
}

.content {
       padding: 0 !important;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #CAD8C4;
}

.invalid {
    outline: 1px solid #CAD8C4;
}

.validation-message {
    color: #DACFE8;
}

.blazor-error-boundary {
    background: #E8DCCB !important;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
}

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.home-bg {
    background-color: #E8DCCB;
    min-height: 100vh;
    background-image: none !important;
}

.navT-link {
    color: #FCF8F0;
}

.centered-paragraph {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-align: center;
    margin-top: 32px;
}

.top-row, .main-top-row {
    background-color: #FCF8F0;
    width: 100%;
    text-align: right;
    min-height: 70px;
    display: flex;
    align-items: center;
}

.finalizar-btn {
    background-color: #CAD8C4;
    color: #5C4432;
    border: none;
}
.finalizar-btn:disabled {
    background-color: #b8a898;
    color: #5C4432;
}
.eliminar-btn {
    background-color: #CAD8C4;
    color: #5C4432;
    border: none;
}
.eliminar-btn:hover {
    background-color: #a6b89a;
    color: #fff;
}
